.date{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
  padding: 15px 0;
  margin: 1rem 0;
}
.tvshow-block ul{
  margin: 0;
}
.tvshow-block img{
  border-radius: 10px;
  box-shadow: 1px -1px 4px 2px rgba(0, 0, 0, .2);
  width: 100%;
}
.tvshow-title{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
.tvshow-year{
  color: #999;
  font-weight: 600;
}
.tvshow-season-info{
  color: #999;
  background: #f5f5f5;
  padding: 20px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 20px;
}
.more-button{
  width: 100%;
  background: none;
  border-radius: 15px;
  border: 2px solid #d6d6d6;
  padding: 20px 0;
  color: #999;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.more-button span::after{
  content: "";
  width: 25px;
  height: 14px;
  background:  url(../../assets/down.png);
  top: 10px;
  right: 5px;
  margin: 4px 0 -1px 15px;
  display: inline-block;
}
.more-button .active::after{
  transform: scaleY(-1);
  margin: 0px 0 2px 15px;
}
