.custom-calendar .react-calendar__month-view__days__day--weekend{
  color: inherit;
}
.custom-calendar .react-calendar__tile--active, .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
  background: none;
  font-weight: 500;
  outline-color: #e10246;
  color: #000;
}
button:focus{
  outline: 2px auto #e10246 !important;
}