.header{
  background: #f5f5f5;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 -15px .5rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.custom-calendar .react-calendar__month-view__days__day--weekend{
  color: inherit;
}
.custom-calendar .react-calendar__tile--active, .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
  background: none;
  font-weight: 500;
  outline-color: #e10246;
  color: #000;
  border: 1px solid red;
}
button:focus{
  outline: 5px auto #e10246 !important;
  outline-offset: 0;
}
.custom-calendar .react-calendar__month-view__days > button{
  /* margin: 1px; */
  border: 1px solid #eee;
}
.info-block{
  text-align: center;
}
.info-block img{
  max-width: 300px;
}